/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/

/* Base */
html {
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* 01 Centering */

header,
footer,
main {
  margin: 0 auto;
  max-width: 45em;
}

/* 02 Font family */

body {
  font-family: "Courier New", "Helvetica", sans-serif;
}

/* 03 Spacing */

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 20px;
  padding-top: 20px;
}

header nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav a {
  padding-right: 3px;
}

header h1, h5 {
  display: inline;
}

footer {
  padding-top: 5em;
  line-height: 1;
}

.post-summary {
  line-height: 10px;
}

.post-summary h3 {
  font-weight: normal;
}

.category-summary {
  line-height: 10px;
}

.category-summary h3 {
  font-weight: normal;
}

/* 04 Color and contrast */

body {
  color: #c5ccce;
  background-color: #282f3a;
}

h1,
h2,
strong {
  color: #e6e8e8;
}

header h5 {
  font-weight: lighter;
}

/* 05 Balance */

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}


/* 06 Primary color */

a {
  color: #7e92a2;
}

/* 07 Secondary colors */

code,
pre {
  background: #555e67;
  color: #c1c7d0;
  -webkit-font-smoothing: initial;
}

h1,
h2,
strong {
  font-weight: 500;
}